

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

    header {

        nav {

            .logo-div {

                .p-div {

                }

            }

            .link-div {

                .link-div-ul {

                    ul {

                        li {

                            .a-links {

                            }

                        }

                    }

                }

                .contact-btn-div {

                    .contact-btn {
                        
                    }

                }

            }

        }

    }

}