* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  background: radial-gradient(50% 50% at 50% 50%, #0E406F 0%, #0E406F 0.01%, #061625 100%);
  margin: 2% 5%;
}
body header nav {
  display: flex;
  justify-content: space-between;
}
body header nav .logo-div .p-logo {
  color: white;
  font-family: "Nunito", sans-serif;
}
body header nav .link-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
body header nav .link-div .link-div-ul ul {
  display: flex;
  gap: 40px;
}
body header nav .link-div .link-div-ul ul li {
  list-style: none;
}
body header nav .link-div .link-div-ul ul li .a-links {
  text-decoration: none;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}
body header nav .link-div .contact-btn-div .contact-btn {
  color: white;
  background-color: transparent;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
}
body main {
  box-sizing: border-box;
  margin-top: 10%;
}
body main .sect-1 {
  display: flex;
  justify-content: space-between;
}
body main .sect-1 .section-1-flex-1 .main-h2-div .main-h2 {
  color: white;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
}
body main .sect-1 .section-1-flex-1 .main-h1-div .main-h1 {
  font-family: "Nunito San";
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 93px;
  background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .sect-1 .section-1-flex-1 .main-h1-div .main-h1 .main-h1-span {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .sect-1 .section-1-flex-1 .main-p-div {
  margin-bottom: 66px;
}
body main .sect-1 .section-1-flex-1 .main-p-div .main-p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: white;
}
body main .sect-1 .section-1-flex-1 .about-download-div {
  margin-bottom: 157px;
}
body main .sect-1 .section-1-flex-1 .about-download-div .about-btn {
  width: 185px;
  height: 54px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
body main .sect-1 .section-1-flex-1 .about-download-div .about-btn:hover {
  -o-border-image: 8px solid yellow;
     border-image: 8px solid yellow;
  background: linear-gradient(rgb(255, 0, 118), rgb(89, 15, 183)) padding-box, linear-gradient(to right, darkblue, darkorchid);
}
body main .sect-1 .section-1-flex-1 .about-download-div .download-btn {
  width: 185px;
  height: 54px;
  border-radius: 8px;
  background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
  color: white;
  font-size: 16px;
  margin-left: 60px;
  cursor: pointer;
}
body main .sect-1 .section-1-flex-1 .about-download-div .download-btn .cloud {
  margin: -3.5% 2%;
  height: 24px;
  width: 24px;
}
body main .sect-1 .section-1-flex-1 .social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 70px;
  width: 402px;
  height: 48px;
}
body main .sect-1 .section-1-flex-1 .social-icons .twitter .twitter-svg {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  box-shadow: 0px 0px 4px 4px grey;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
body main .sect-1 .section-1-flex-1 .social-icons .twitter .twitter-svg:hover {
  transform: rotate(360deg);
}
body main .sect-1 .section-1-flex-1 .social-icons .behance .behance-svg {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  box-shadow: 0px 0px 4px 4px grey;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
body main .sect-1 .section-1-flex-1 .social-icons .behance .behance-svg:hover {
  transform: rotate(360deg);
}
body main .sect-1 .section-1-flex-1 .social-icons .linkedin .linkedin-svg {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  box-shadow: 0px 0px 4px 4px grey;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
body main .sect-1 .section-1-flex-1 .social-icons .linkedin .linkedin-svg:hover {
  transform: rotate(360deg);
}
body main .sect-1 .section-1-flex-1 .social-icons .dribble .dribble-svg {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  box-shadow: 0px 0px 4px 4px grey;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
body main .sect-1 .section-1-flex-1 .social-icons .dribble .dribble-svg:hover {
  transform: rotate(360deg);
}
body main .sect-1 .section-2-flex-2 .shadow-div {
  position: absolute;
  left: 773px;
  top: 170px;
  height: 646px;
  width: 505px;
  border-radius: 30px;
  background: radial-gradient(50% 50% at 50% 50%, #342B2B 0%, #000000 100%);
}
body main .sect-1 .section-2-flex-2 .img-shadow-div {
  position: absolute;
  left: 700px;
  top: 218px;
}
body main .sect-1 .section-2-flex-2 .img-shadow-div .img-shadow {
  transition: all 1s ease-in-out;
  height: 851px;
  width: 623px;
}
body main .sect-1 .section-2-flex-2 .img-shadow-div .img-shadow:hover {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}/*# sourceMappingURL=home.css.map */