$borderGradientColor: linear-gradient(to right, red, purple);



* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    // border: 1px solid black;
    background: radial-gradient(50% 50% at 50% 50%, #0E406F 0%, #0E406F 0.01%, #061625 100%);
    margin: 2% 5%;
    // position: relative;
    

    header {

        nav {
            display: flex;
            justify-content: space-between;

            .logo-div {

                .p-logo {
                    color: white;
                    font-family: 'Nunito', sans-serif;
                    // font-size: 16px;

                }

            }

            .link-div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 40px;
                // border: 1px solid black;
                

                .link-div-ul {
                    

                    ul {
                        display: flex;
                        gap: 40px;
                        // border: 1px solid black;
                        // justify-content: space-around;

                        li {
                            list-style: none;
                            // border: 1px solid black;

                            .a-links {
                                text-decoration: none;
                                color: white;
                                font-family: 'Nunito', sans-serif;
                                font-size: 16px;
                                
                            }

                        }

                    }

                }

                .contact-btn-div {

                    .contact-btn {
                        color: white;
                        background-color: transparent;
                        height: 40px;
                        width: 100px;
                        border-radius: 8px;
                        font-family: 'Nunito', sans-serif;
                        font-size: 16px;
                        cursor: pointer;
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);

                    }

                }

            }

        }

    }

    main {
        // position: relative;
        box-sizing: border-box;
        border: 1px solid yellow;
        margin-top: 10%;


        .sect-1 {
            display: flex;
            justify-content: space-between;

            .section-1-flex-1 {

                .main-h2-div {

                    .main-h2 {
                        color: white;
                    }

                }
    
                .main-h1-div {

                    .main-h1 {
                        font-family: 'Nunito San';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 68px;
                        line-height: 93px;
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        .main-h1-span {
                            background: white;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;  
                        }
                    }
    
                }
    
                .main-p-div {
                    margin-bottom: 66px;

                    .main-p {
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 35px;
                        color: #FFFFFF;

                    }
    
                }
    
                .about-download-div {
                    margin-bottom:  157px;
                    border: 1px solid yellow;
                    
                    
    
                    .about-btn {
                        width: 185px;
                        height: 54px;
                        border-radius: 8px;
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                        // border: 10px solid $borderGradientColor;
                        color: white;
                        font-size: 16px;
                        cursor: pointer;
                        transition: all 1s ease-in-out;

                        &:hover {
                            background: blue;
                            border: 1px solid white;
                            color: white;
                            // transition: all 1s ease-in-out;
                        }


    
                    }
    
                    .download-btn {
                        width: 185px;
                        height: 54px;
                        border-radius: 8px;
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                        border: 1px solid red;
                        color: white;
                        font-size: 16px;
                        margin-left: 60px;
                        cursor: pointer;

                        .cloud { 
                            margin: -3.5% 2%;
                            height: 24px;
                            width: 24px;
                        }
    
                    }
    
                }
    
                .social-icons {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 70px;
                    width: 402px;
                    height: 48px;
                    // border: 1px solid red;
    
                    .twitter {
                        .twitter-svg {
                            height: 48px;
                            width: 48px;
                            cursor: pointer;

                        }
    
                    }
    
                    .behance {
                        .behance-svg {
                            height: 48px;
                            width: 48px;
                            cursor: pointer;

                        }
    
                    }
    
                    .linkedin {
                        .linkedin-svg {
                            height: 48px;
                            width: 48px;
                            cursor: pointer;
                            transition: all 1s ease-in-out;

                            &:hover {
                                transform: rotate(360deg);
                            }

                        }
    
                    }
    
                    .dribble {
                        .dribble-svg {
                            height: 48px;
                            width: 48px;
                            cursor: pointer;
                            transition: all 1s ease-in-out;

                            &:hover {
                                transform: rotate(360deg);
                            }

                        }
    
                    }
    
                }
    
                
            }

            .section-2-flex-2 {
                border: 1px solid red;

                .shadow-div {
                    position: absolute;
                    left: 773px;
                    top: 170px;
                    height: 646px;
                    width: 505px;
                    // color: white;
                    border-radius: 30px;
                    border: 1px solid green;
                    background: radial-gradient(50% 50% at 50% 50%, #342B2B 0%, #000000 100%);


                }

                .img-shadow-div {
                    position: absolute;
                    left: 700px;
                    top: 218px;
                    border: 1px solid green;
                    

                    .img-shadow {
                        border: 1px solid skyblue;
                        transition: all 1s ease-in-out;
                        height: 851px;
                        width: 623px;
                        
                        &:hover {
                            transform: matrix(-1, 0, 0, 1, 0, 0);
                        }


                    }
                }
            }

            

        }
    }

}