

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    border: 1px solid black;
    background: radial-gradient(50% 50% at 50% 50%, #0E406F 0%, #0E406F 0.01%, #061625 100%);
    margin: 2% 5%;
    

    header {

        nav {
            display: flex;
            justify-content: space-between;

            .logo-div {

                .p-logo {
                    color: white;
                    font-family: 'Nunito', sans-serif;
                    // font-size: 16px;

                }

            }

            .link-div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 40px;
                // border: 1px solid black;
                

                .link-div-ul {
                    

                    ul {
                        display: flex;
                        gap: 40px;
                        // border: 1px solid black;
                        // justify-content: space-around;

                        li {
                            list-style: none;
                            // border: 1px solid black;

                            .a-links {
                                text-decoration: none;
                                color: white;
                                font-family: 'Nunito', sans-serif;
                                font-size: 16px;
                                
                            }

                        }

                    }

                }

                .contact-btn-div {

                    .contact-btn {
                        color: white;
                        background-color: transparent;
                        height: 40px;
                        width: 100px;
                        border-radius: 8px;
                        font-family: 'Nunito', sans-serif;
                        font-size: 16px;
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);

                    }

                }

            }

        }

    }

    main {

        .sect-1 {

            .section-1-flex-1 {

                .main-h2-div {

                }
    
                .main-h1-div {
    
                }
    
                .main-p-div {
    
                }
    
                .about-download-div {
    
                    .about-btn {
    
                    }
    
                    .download-btn {
    
                    }
    
                }
    
                .social-icons {
    
                    .twitter {
    
                    }
    
                    .behance {
    
                    }
    
                    .linkedin {
    
                    }
    
                    .dribble {
    
                    }
    
                }
    
                
            }

            .section-2-flex-2 {

                .shadow-div {
                    height: 646px;
                    width: 505px;
                    color: white;
                    background: radial-gradient(50% 50% at 50% 50%, #342B2B 0%, #000000 100%);


                }

                .img-shadow-div {

                    .img-shadow {


                    }
                }
            }

            

        }
    }

}