

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(14, 64, 111);
    margin: 0 5%;
    

    header {

        nav {
            display: flex;
            justify-content: space-between;

            .logo-div {

                .p-logo {
                    color: white;

                }

            }

            .link-div {
                display: flex;

                .link-div-ul {

                    ul {
                        display: flex;

                        li {
                            list-style: none;

                            .a-links {
                                text-decoration: none;
                                color: white;
                                
                            }

                        }

                    }

                }

                .contact-btn-div {

                    .contact-btn {

                    }

                }

            }

        }

    }

}