$borderGradientColor: linear-gradient(to right, red, purple);



* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    border: 1px solid black;
    background: radial-gradient(50% 50% at 50% 50%, #0E406F 0%, #0E406F 0.01%, #061625 100%);
    // background-color: blue;
    
    // height: 722px;
    // position: relative;
    

    header {
        margin: 2% 5%;
        

        nav {
            display: flex;
            justify-content: space-between;

            .logo-div {
                .logo-a{
                    text-decoration: none;
                }

                .p-logo {
                    color: white;
                    font-family: 'Nunito', sans-serif;
                    // font-size: 16px;

                }

            }

            .link-div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 40px;
                // border: 1px solid black;
                

                .link-div-ul {
                    

                    ul {
                        display: flex;
                        gap: 40px;
                        // border: 1px solid black;
                        // justify-content: space-around;

                        li {
                            list-style: none;
                            // border: 1px solid black;

                            .a-links {
                                text-decoration: none;
                                color: white;
                                font-family: 'Nunito', sans-serif;
                                font-size: 16px;
                                

                                &:hover {
                                    background: linear-gradient(131.96deg, #f670af -0.3%, #8e3ff4 79.51%);
                                    // background: -webkit-linear-gradient(#eee, #333);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    transition: all 2s ease-in-out;
                                }
                                
                            }

                        }

                    }

                }

                .contact-btn-div {

                    .contact-btn {
                        color: white;
                        background-color: transparent;
                        height: 40px;
                        width: 100px;
                        border-radius: 8px;
                        font-family: 'Nunito', sans-serif;
                        font-size: 16px;
                        cursor: pointer;
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);

                        &:hover {
                            box-shadow: 1px 3px 5px 1px rgb(59, 57, 57);
                        }

                    }

                }

            }

        }

    }

    main {
        
        
       
        .main-div{           
            // position: relative;
            box-sizing: border-box;
            border: 1px solid yellow;
            margin-top: 10%;
            text-align: center;

            .sect-1-wrapper{
                margin: 2% 5%;

                .sect-1 {
                    // background: white;
                    // border: 1px solid black;
                    // background-color: yellow;
        
                    .proj-line {
                        width: 192px;
                        height: 57px;
        
                        /* Heading 2 Bold */
        
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 42px;
                        line-height: 57px;
                        color: #FFFFFF;
                        // text-align: center;
                        // justify-content: ;
        
                        
                    }
        
                    .line{
                        /* Rectangle 7 */
        
                        width: 122px;
                        height: 5px;
                        margin-left: 548px;
                        margin-top: 6px;
        
                        /* Design Color */
        
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                        border-radius: 2px;
                        
        
                    }
        
                    .p-projects{
                        width: 1121px;
                        height: 210px;
                        // left: 159px;
                        margin-top: 35px;
        
                        /* Heading 1 */
        
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 26px;
                        line-height: 35px;
                        text-align: center;
                        color: #FFFFFF;
                        // border: 1px solid white;
                        margin: 35px auto 16px auto;
        
                    }
        
        
                }
            }
        }

        .new{
            background-color: whitesmoke;
            border: 2px solid green;
            
            .sect-2 {
                
            
                // border: 1px solid yellow;


                .rect-1{
                    position: absolute;
                    width: 611px;
                    height: 159px;
                    left: 363px;
                    top: 508px;
                    
                    background: #FFFFFF;
                    border: 1px solid #D5D5D5;
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                    border-radius: 35px 35px 0px 0px;


                    .case-line {
                        margin: 2% 5%;
                        width: 192px;
                        height: 57px;
        
                        /* Heading 2 Bold */
        
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 42px;
                        line-height: 57px;
                        color: black;
                        // display: flex;
                        // justify-content: center;
                        // text-align: center;
                        // justify-content: ;
        
                        
                    }
        
                    .line{
                        /* Rectangle 7 */
        
                        width: 122px;
                        height: 5px;
                        margin: 0 auto;
                        // margin-left: 0px;
                        // margin-top: 6px;
        
                        /* Design Color */
        
                        background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                        border-radius: 2px;
                        
        
                    }

                }
                
                
    
                .p-case{
                    width: 1121px;
                    height: 210px;
                    // left: 159px;
                    margin-top: 35px;
    
                    /* Heading 1 */
    
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 35px;
                    text-align: center;
                    color: black;
                    // border: 1px solid white;
                    margin: 35px auto 166px auto;
    
                }

                .project-img{

                    .flex-1{

                        .svg-1{
                            position: relative;

                            .flex-1-img{

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                        .svg-2{
                            position: relative;

                            .flex-1-img{

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                    }

                    .flex-2{

                        .svg-3{
                            position: relative;

                            .flex-2-img{

                            }

                           .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                        .svg-4{
                            position: relative;

                            .flex-2-img{

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                    }

                    .flex-3{

                        .svg-5{
                            position: relative;

                            .flex-3-img{
                                width: 611px;
                                height: 447px;

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                        .svg-6{
                            position: relative;

                            .flex-3-img{
                                width: 611px;
                                height: 447px;

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                    }

                    .flex-4{
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid black;
                        margin: 2% 5%;

                        .svg-7{
                            position: relative;

                            .flex-4-img{
                                border: 1px solid black;
                                width: 587px;
                                height: 436px;

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                        .svg-8{
                            position: relative;

                            .flex-4-img{
                                border: 1px solid black;
                                width: 587px;
                                height: 436px;

                            }

                            .rect-1{
                                position: absolute;
                                width: 611px;
                                height: 159px;
                                left: 363px;
                                top: 58px;
                                
                                background: #FFFFFF;
                                border: 1px solid #D5D5D5;
                                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
                                border-radius: 35px 35px 0px 0px;


                                .case-line {
                                    margin: 2% 5%;
                                    width: 192px;
                                    height: 57px;
                    
                                    /* Heading 2 Bold */
                    
                                    font-family: 'Nunito Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 42px;
                                    line-height: 57px;
                                    color: black;
                                    // display: flex;
                                    // justify-content: center;
                                    // text-align: center;
                                    // justify-content: ;
                    
                                    
                                }
        
                                .line{
                                    /* Rectangle 7 */
                    
                                    width: 122px;
                                    height: 5px;
                                    margin: 0 auto;
                                    // margin-left: 0px;
                                    // margin-top: 6px;
                    
                                    /* Design Color */
                    
                                    background: linear-gradient(131.96deg, #FF0076 -20.3%, #590FB7 79.51%);
                                    border-radius: 2px;
                                    
                    
                                }

                            }

                        }

                    }

                }
    

    
            }
        }

        .sect-3-wrapper{
            
            .sect-3{

            }
        }

    }

}